.box
  .box-body
    %table#admin-table.searchable.table.table-bordered
      %thead
        %tr
          %th Name
          %th Report?
          %th.text-center Edit
      %tbody
        - @park_list.each do |park|
          %tr
            %td= park.name
            - if park.report?
              %td True
            - else
              %td False
            %td.text-center= link_to "edit", edit_park_path(park)